body{
    /* background-color: rgb(35, 112, 16); */
    padding:50px;
    border: 2px solid cyan;
    background: url(./10-14-50-567_1440x480.jpg);
    

}
/* figure.img{
    width: 100%;
height: 200px;
z-index: -1;
position: absolute;
} */
.card-img-top {
    width: 100%;
    height:15vw;
    object-fit: cover;
    
  

}
figure img{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    width: 100%;
    height: 50%;
    
    
}
img{
    height:200px;
    width: 172px;
    position: inherit;
    left: -88px;
    bottom: -179px;
}
.sd{
    background-color:rgb(100, 48, 11);
    color:lightgrey;

}
.dom{
    background-color:rgb(131, 48, 113);
    color:lightgrey;

}
.kfc{
    background-color:rgb(190, 99, 119);
    color:rgb(239, 237, 248);

}
.hut{
    background-color:rgb(119, 136, 136);
    color:rgb(239, 237, 248);

}
    span.middleimg{

    height: 90px;
    width: 90px;
    position: absolute;
    z-index: 10;
    /* top: -45px; */
    margin-left: 50%;
    /* left: -45px;
     */

}
h5, h6,p{
    text-align: center;
    text-decoration: solid;
}

h6.dd{
    border-radius: 1%;
  border: 2px solid blue;
  background:blue;
  padding: 4px;
}
h6.ds{
    border-radius: 1%;
    border: 2px solid gray;
    background:rgb(107, 99, 99);
    padding: 4px;
}
h6.ks{
    
        border-radius: 1%;
        border: 2px solid black;
        background:black;
        padding: 4px;
}

h6.ph{
    width: 100%;
    border-radius: 1%;
    border: 2px solid rgb(114, 8, 74);
    background: rgb(114, 8, 74);
    padding: 4px;
}
ul{
    list-style:none;
    color: yellow;
    display:inline-block;
    text-decoration: none;
}
section ul li{
    display:inline-block;
}
section ul li .fa{
    text-align: center;

}
  
.ds{
    color:white;
}

section ul li.RAT{
    color: white;
}
.fa{
    color: yellow;
    text-align: center;
    text-decoration: none;
}
h1{
    color: red;
    font-size:xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
marquee{

text-align: inherit;
width: 100%;
}
form>button{
width:100%;
size: 100%;
}